
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/sweetAlert")

</head>
<body>
    <div class="loading-container" id="loadingContainer">
        <div class="loader"></div>
    </div>
    @RenderBody()
    <!--Basic Scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/sweetAlert")
    
    <script src="~/Scripts/custom/utility.js"></script>

    <!--Page Related Scripts-->
    @RenderSection("scripts", required: false)
</body>
</html>
