@using ToDoList.WebApp.Models
@model AccountLoginViewModel
@{
    ViewBag.Title = Resources.Resource.Login;
    Layout = "~/Views/Shared/_Empty.cshtml";
}


<link href="~/Content/account.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h4 class="text-center login-title">@Resources.Resource.SignIn</h4>
            <div class="account-wall">
                <p id="loginAlert" class="text-danger text-center"></p>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "form", @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Resource.Email } })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Resource.Password } })
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit"> @Resources.Resource.ButtonLogin </button>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 rememberMeCheckDiv" style="margin-left:2%">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class= "rememberMeChecklabel" })
                            </div>
                        </div>
                    </div>
                }
                <a href="/Account/Register" class="text-center new-account">@Resources.Resource.CreateNewAccount</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        hideLoading();
        $(document).ready(function () {

            var returnUrl = '@ViewBag.ReturnUrl';

            //check saved data in session storage
            var username = sessionStorage.getItem("username");
            var password = sessionStorage.getItem("password");

            if (username != null && password != null) {
                //bind user
                $("#Email").val(username);
                $("#Password").val(password);
                sessionStorage.removeItem("username");
                sessionStorage.removeItem("password");
            }

            //login
            $("#form").on("submit", function (event) {
                event.preventDefault();
                var errorMsg = '@Resources.Validation.ErrorMsg_LoginFail';
                var model = {};
                model.Email = $('#Email').val();
                model.Password = $('#Password').val();
                model.RememberMe = $('input[name="RememberMe"]').val();
                var data = { model: model, returnUrl: returnUrl };
                if (model.Email != "" && model.Password != "") {
                    //show loader
                    showLoading();
                    //ajax call
                    $.ajax({
                        type: "POST",
                        url: "/Account/Login",
                        data: data,
                        success: function (result) {
                            if (result.Status == 1) {
                                //redirect to ToDoList
                                window.location.href = result.RedirectTo;
                            } else {
                                //hide loader
                                hideLoading();
                                $('#loginAlert').text(result.Message);
                            }
                        },
                        error: function (result) {
                            //hide loader
                            hideLoading();
                            $('#loginAlert').text(result.Message);
                        }
                    })//end ajax
                } else {
                    $('#loginAlert').text(errorMsg);
                }
            });//end form submit
        });
    </script>
}